.ContactMe {
    background-color: white;
    height: 500px;
}

.ContactMeContainer {
    height: 100%;
    width: 85%;
    margin: auto;
    display: grid;
    place-content: center;
}

.ContactMeTextWrapper h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: calc(100vw * 0.07);
    letter-spacing: 1.6px;
    color: black;
    text-align: center;
}

.ContactMeTextWrapper ul li {
    list-style: none;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 1.6px;
    color: black;
}