.HeroSection {
    height: 100vh;
    background: linear-gradient(180deg, #000000 0%, #000000 62.5%, #1a1a1a 100%);
    color: white;
}

.HeroContainer {
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    place-content: center;
    position: relative;
}

.HeroTextWrapper {
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    letter-spacing: 1.3px;
}

.HeroTextWrapper h1{
    font-size: 67px;
    font-weight: 900;
}

.HeroTextWrapper h4{
    font-weight: 400;
    font-size: 21px;
    line-height: 105.69%;
}

.ScrollText {
    position: absolute;
    width: 100%;
    bottom: 12%;
    text-align: center;
}

.ScrollText h4 {
    font-weight: 500;
    font-size: 20px;
    animation: tubelight 5s linear infinite;
    letter-spacing: 6px;
}

@keyframes tubelight {
    0%, 10%, 13%, 20%, 25%, 50%, 60%, 80%, 90%, 95%{
        color: rgb(49, 49, 49);
        text-shadow: none;
    }

    10.1%, 13.1%, 20.1%, 25.1%, 50.1%, 60.1%, 80.1%, 90.1%, 95.1%, 100% {
        color: white;
        text-shadow: 0 0 5px lightgray,
        0 0 10px #9b9b9b,
        0 0 20px gray, 
        0 0 40px #363636;
       
    }
}



