.Projects {
    height: auto;
    background-color: #ffffff;
}


.ProjectsContainer {
    position: relative;
}

.ProjectsContainer h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding: 100px 0;
}

.ProjectsContainer .MobileCollumn {
    display: flex;
    flex-direction: column;
    height: calc((85vw * 4) + (7.5vw * 3));
    justify-content: space-between;
}

.ProjectsContainer .LaptopGrid {
    display: none;
}
