.Skills {
    background-color: #1a1a1a;
    height: 500px;
}

.SkillsContainer {
    height: 100%;
    display: grid;
    place-content: center;
}

.SkillsTextWrapper h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: calc(100vw * 0.07);
    letter-spacing: 1.6px;
    color: white;
    text-align: center;
}

.SkillsTextWrapper ul li {
    list-style: none;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
    line-height: 25px;
    align-items: center;
    letter-spacing: 1.6px;
    color: #E1E1E1;
}